/* general purpose */
body{
	position: static;
	margin-top: 60px;
}
/* main search bar */
#main-form{
	text-align: center;
	padding: 3% 0 0 5%;
}
.search-for-site{
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 45px;
	text-align: center;
	padding: 2% 5% 2% 5%;
}

/* top 4-5 pages quick info */
.top-pages{
	padding: 2%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.top-page-box{
	margin: 1% 1% 5% 1%;
	padding: 1% 3% 1% 3%;
	-webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.20);
	box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.20);
}
.top-page-box:hover{
	background: rgba(0, 0, 0, 0.2);
}

/* information zone */
.information{
	font-size: large;
	text-align: center;
	padding: 5% 0 10% 0;
	background-color: rgba(0, 0, 0, 0.2);
}
.information h1{
	text-align: center;
	font-size: 3em;
}
.information h2{
	font-size: 2em;
}
.information p{
	font-size: 1.5em;
}
.information ul{
	list-style: none;
}
.information li{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
.information li h2{
	text-align: left;
}
.information li p{
	text-align: left;
}

/* contact-info */
#contact{
	background-color: #ddd;
	padding: 7px 7px 7px 15px;
	font-style: italic;
}