/* general purpose */
body{
	position: static;
	margin-top: 60px;
}

/* main search bar */
#main-form{
	text-align: center;
	padding: 3% 0 0 5%;
}
.search-for-site{
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 45px;
	text-align: center;
	padding: 2% 5% 2% 5%;
}

/* top 4-5 pages quick info */
.top-pages{
	padding: 2%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.top-page-box{
	margin: 1% 1% 5% 1%;
	padding: 1% 3% 1% 3%;
	-webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.20);
	box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.20);
}
.top-page-box:hover{
	background: rgba(0, 0, 0, 0.2);
}

/* information zone */
.information{
	text-align: center;
	padding-top: 5%;
	background: rgba(0, 0, 0, 0.3)
}
.information h1{
	font-size: 3.5em;
}
.information hr{
	margin: 0 auto;
	width: 80%;
}
.information p{
	font-size: 1.7em;
}
.information ul{
	margin: 0 auto;
	padding: 3% 0 3% 0;
	width: 80%;
	list-style: none;
}
.information li{
	padding: 1% 0 1% 0;
}

/* contact-info */
#contact{
	background-color: #ddd;
	padding: 7px 7px 7px 15px;
	font-style: italic;
}